html, body {
  margin: 0;
  font-family: 'DM Serif Text', serif;
}
body {
  background-color: #E8F1F2;
  display: flex;
  justify-content: center;
}

ul{
  list-style:none;
  text-decoration:none;
  display:flex;
  flex-direction:column;
  gap:15px;
}

button{

}

button:hover{
  
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #247BA0;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #247BA0 ;
  padding: 10px 20px 0px;
  display:flex;
  flex-direction:column;
}
.header {
  background-color: #D8F1F2;
  min-height: 150px;
  position:relative;
}
.content {
  background-color: #D8F1F2;
  min-height: 300px;
  padding: 20px;
  text-align: justify;
}
.buttons{
  display:flex;
  gap: 10px;
}

button {
  font-family: 'arial black';
  font-weight: bold;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 0px 0px 0px #14396A;
  box-shadow: 0px 0px 0px #D8F1F2;
  padding: 13px 40px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  background: #D8F1F2;
}
button:hover {
  color: #14396A !important;
  background: #407BA0;
}
.footer {
  background-color: #13293D;
  color:white;
  min-height: 150px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}